.table thead th {
  position: sticky;
  top: 0;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

#table_devices {
  overflow-y: auto;
  min-height: 60vh;
  max-height: 60vh;
}

#table_trains {
  overflow-y: auto;
  min-height: 60vh;
  max-height: 60vh;
}

#table_measures_content {
  overflow-y: auto;
  min-height: 60vh;
  max-height: 60vh;
}

.table {
  overflow-y: auto;
  /*min-height: 60vh;*/
  /*max-height: 60vh;*/
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 100%;
  width: auto;
}

