<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Services - Телеметрическая информационная система ТИС-20</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" th:href="@{/css/smoothproducts.css}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">Телеметрическая информационная система ТИС-20</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto"></ul>
            <ul class="nav navbar-nav">
                <form th:action="@{/logout}" method="post">
                        <input id="exit" type="submit" class="SubmitButtonClass" name="msg" style="border:none; background:none" value="Выход">
<!--                    <input class="nav-link" role="presentation" value="Выход" type="submit"/>-->
                </form>
            </ul>
        </div>
    </div>
</nav>
<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container" sytle="min-height=100vh;">
            <div class="block-heading">
                <h2 class="text-info">Работающие системы</h2>
                <div class="table-responsive">
                    <table class="table" id="systems_table">
                        <thead>
                        <tr>
                            <th>Состав</th>
                            <th>№ Электропоезда</th>
                            <th>№ Сиситемы</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark" style="padding: 0px 0px 0px;">
    <div class="footer-copyright" style="margin: 0px 0px 0px;">
        <p>© 2020 Elcom Company</p>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script th:src="@{/js/smoothproducts.min.js}"></script>
<script th:src="@{/js/systems.js}"></script>
<script th:src="@{/js/theme.js}"></script>
</body>

</html>